<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/hosts/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section id="edit-form">
    <div id="edit-avatar">
      <img src="<%= host.avatar %>">
    </div>
    <form 
    id="new-form" 
    action="/hosts/<%= host._id %>?_method=PUT" 
    method="POST"
    >
    <div id="name-input">
      <div><label class="label" for="name-input">Name:</label></div>
      <div><input required type="text" name="name" value="<%= host.name %>"></div>
    </div>
    <div id="age-input">
      <div><label class="label" for="age-input">Age:</label></div>
      <div><input required type="number" name="age" value="<%= host.age %>"></div>
    </div>
    <div id="email-input">
      <div><label class="label" for="email-input">Email:</label></div>
      <div><input type="email" name="email" value="<%= host.email %>" id="email-input"></div>
    </div>
    <div>
      <button  class="btn" type="submit">Save</button>
    </div>
    </form>
  </section>
</main>

<%- include("../partials/footer") %>