<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/hosts/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1 id="title"><%= title %></h1>
  <section id="background">
    <section id="hero">
      <div id="avatar">
        <img src="<%= host.avatar %>">
      </div>
      <div id="host-details">
        <div><%= host.name %></div>
        <div><%= `${host.age} years old.` %></div>
        <div><%= host.email %></div>
        <div><%- host.eligible ? "Eligible to drive!" : "Not eligible to drive until 21 years of age." %></div>
        <a href="/hosts/<%= host._id %>/edit">
          <div id="edit-btn"
            <% if (host.equals(hostProfile?._id)) { %>
              <button class="btn" >Edit Profile</button>
            <% } %>
          </div>
        </a>
      </div>
    </section>
  </section>
<section id="new-car">
  <div>
    <% if (host.equals(hostProfile?._id)) { %>
      <p id="add-car-prompt">Would you like to add a new car?</p>
  </div>
  <div>
    <form 
      id="new-form" 
      action="/hosts/<%= host._id %>/cars" 
      method="POST">
      <input placeholder="Make" type="text" name="make" id="make-input">
      <input placeholder="Model" type="text" name="model" id="model-input">
      <input placeholder="Color" type="text" name="color" id="color-input">
      <input placeholder="Daily Rate" type="number" name="price" id="price-input">
        <button class="btn" type="submit">Add Car</button>
    </form>
  </div>
  <% } %>
</section>

  <h2 id="host-cars">Hosts cars</h2>
<section id="car-details">
  <% if (host.cars.length) { %>
    <% host.cars.forEach(car => { %>
      <div id="sqr-display">
        <ul>
          <div id="info-and-icon-row">
            <div>
              <div><%= car.make %></div>
              <div><%= car.model %></div>
              <div><%= car.color %></div>
              <div><%= `$${car.price}` %></div>
            </div>
            <div id="car-icon"><i class="fas fa-solid fa-car-side fa-4x"></i></div>
          </div>
          <div>
            <% if (car.host.equals(hostProfile?._id)) { %>
              <form 
                action="/hosts/<%= host._id %>/cars/<%= car._id %>?_method=DELETE"
                method="POST"
                >
                <button class="btn" type="submit">Remove car</button>
              </form>
            <% } %>
          </div>
          <div><a class="view-car-link" href="/hosts/<%= host._id %>/cars/<%= car._id %>">View car</a></div>
        </ul>
      </div>
    <% }) %>
  <% } else { %>
    <h3>No cars have been added to your profile.</h3>
  <% } %>
</section>


</main>

<%- include("../partials/footer") %>