<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section id="cars">
    <% cars.forEach(car => { %>
      <a href="hosts/<%= car.host %>/cars/<%= car._id %>">
        <div id="row">
          <div id="index-avatar">
            <img src="<%= car.avatar %>">
          </div>
          <div id="car-link">
            <div><%= car.make %></div>
            <div><%= car.model %></div>
            <div><%= car.color %></div>
            <div><%= `$${car.price}/day` %></div>
          </div>
          <div id="car-icon"><i class="fas fa-solid fa-car-side fa-4x"></i></div>
        </div>
      </a>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>