<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
        <th>Daily Rate</th>
      </tr>
    </thead>
    <tbody>
      <%# Oh hey, this is an ejs comment! It starts with a # %>
      <% cars.forEach(car => { %>
        <tr>
          <td><a id="car-link" href="/cars/<%= car._id %>"><%= car.make %></a></td>
          <td><%= car.model %></td>
          <td><%= car.color  %></td>
          <td><%= `$${car.price}` %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>